<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Track Recommendations</title>
</head>
<body>
    <h1>Spotify Mood Based Recommendations</h1>

    <form method="POST">
        

        <input type="text" placeholder="Enter Your Mood" id="mood" name="mood" required
        style="padding: 10px 20px; font-size: 16px;">

        <button type="submit"
        style="background-color: black; color: white; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer;">
        Get Recommendations</button>
    </form>

    {% if recommendations %}
    <h2>You are {{ request.form['mood'] }}. Here are some songs.</h2>
    <ul>
        {% for recommendation in recommendations %}
            <li style="margin-bottom: 15px;">
                {{ recommendation['track_name'] }} 
                <div style="margin-top: 10px;">
                    <strong>- Artists:</strong>
                    <span style="margin-left: 5px;">
                        {% for artist in recommendation['artists'] %}
                            {{ artist }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No recommendations available.</p>
{% endif %}

</body>
</html>
